---
import type { SanityDocument } from '@sanity/client';
import { PortableText } from 'astro-portabletext';
import { loadQuery } from '../sanity/lib/loadQuery';
import Layout from '../layouts/Layout.astro';
import Headline from '../components/Headline.astro';
import SideBySide from '../components/SideBySide.astro';
import Hero from '../components/Hero.astro';

const { data: page } = await loadQuery<SanityDocument>({
  query: `*[_type == "page" && slug.current == 'home'][0]`,
});

const components = page?.components || [];
---

<Layout title={'whatever'}>
  {
    components.map(
      (component: { _type: any; headline: string; text: any[] }) => {
        switch (component._type) {
          case 'headline':
            return <Headline headline={component.headline} />;
          case 'sideBySide':
            return (
              <SideBySide
                headline={component.headline}
                text={component.text}
              />
            );
          case 'hero':
            return (
              <Hero
                heroText={component.heroText}
                heroImage={component.heroImage}
              />
            );
          case 'basicContent':
            return (
              <div>
                whatever
                <PortableText value={component.text} />
              </div>
            );
          default:
            return null;
        }
      }
    )
  }
</Layout>
