---
import { headline } from '../sanity/schemaTypes/headline';
import PortableText from './PortableText.astro';

interface Card {
  title?: string;
  slug?: string;
  featuredImage?: string;
  excerpt?: string;
}

const { blogList } = Astro.props;
---

<ul class="cards wrapper">
  {
    blogList &&
      blogList.map((card: Card) => {
        const { featuredImage, excerpt, title, slug } = card;
        return (
          <a href={`/${slug}`} class="card">
            {featuredImage && <img src={featuredImage} />}
            {title && <h3>{title}</h3>}
            {excerpt && <p>{excerpt}</p>}
            {slug && <a href={slug}>Learn More</a>}
          </a>
        );
      })
  }
</ul>

<style>
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin: 0 auto;
  }
  .card {
    display: flex;
    flex-direction: column;
    max-width: 18.75rem;
  }
  h3 {
    font-size: 1.875rem;
    margin: 0;
    padding: 0.25rem 0 0.5rem 0;
  }
  p {
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
  }
  a {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--mid-purple);
    color: white;
    text-decoration: none;
    border-radius: 0.25rem;
    text-align: center;
    &:hover {
      background-color: var(--dark-purple);
    }
  }
</style>
