---
import PortableText from './PortableText.astro';

interface Card {
  headline?: string;
  subheadline?: string;
  text?: string;
  media?: string;
  mediaLink?: string;
}

const { mediaCardList } = Astro.props;
---

{
  mediaCardList.map((card: Card) => {
    const { headline, subheadline, text, media, mediaLink } = card;
    return (
      <div class="card">
        {headline && <h3>{headline}</h3>}
        {subheadline && <p>{subheadline}</p>}
        {text && <PortableText portableText={text} />}
        {media && mediaLink && <a href={mediaLink}>{media}</a>}
      </div>
    );
  })
}

<style>
  .card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  h3 {
    margin: 0;
  }
</style>
