---
import { loadQuery } from '../sanity/lib/loadQuery';
import emailIcon from '../images/email-icon.svg';
import phoneIcone from '../images/phone-icon.svg';
import logo from '../images/logo-icon.svg';
import type { NavData, NavItem } from '../lib/types';

const { data: nav } = await loadQuery<NavData>({
  query: `
  *[_type == "nav" && title=="Main"][0]{
    title,
    navItems[] {
    name,
      href,
    }
  }`,
});

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname;
---

<script>
  const burger = document.querySelector('button.nav-toggle');
  const navList = document.querySelector('.nav');
  const navLinks = navList ? navList.querySelectorAll('li') : [];
  const currentURL = window.location.href;
  navLinks.forEach((li) => {
    const link = li.querySelector('a');
    if (!link) return;
    if (link.href === currentURL) {
      li.classList.add('active');
    }
  });

  burger?.addEventListener('click', () => {
    navList?.classList.toggle('open');
    burger?.classList.toggle('open');
  });
  navList?.addEventListener('mouseleave', () => {
    navList?.classList.remove('open');
    burger?.classList.remove('open');
  });
</script>

<header>
  <div id="contact">
    <a
      tabindex="0"
      href="mailto:Info@CitizensNetworkofProtection.com"
    >
      <span class="info">Info@CitizensNetworkofProtection.com</span>
      <span><img src={emailIcon.src} alt="decorative" /></span>
    </a>
    <a tabindex="0" href="tel:+18722352289">
      <span class="info">+1 (872) 235-2289</span>
      <span><img src={phoneIcone.src} alt="decorative" /></span>
    </a>
  </div>

  <nav id="menu">
    <a href="/" class="logo mobile">
      <img src={logo.src} /> Citizen's Network of Protection
    </a>
    <ul class="nav">
      <li class="desktop">
        <a href="/" class="logo">
          <img src={logo.src} /> Citizen's Network of Protection
        </a>
      </li>

      <!-- Static Home Link -->
      <li>
        <a href="/" class="nav-list">Home</a>
      </li>

      <!-- Dynamic Nav Links -->
      {
        nav.navItems.map((item: NavItem) => {
          return (
            <li>
              <a class="nav-list" href={item.href}>
                {item.name}
              </a>
            </li>
          );
        })
      }
    </ul>

    <!-- Mobile Toggle Button -->
    <button
      type="button"
      class="mobile nav-toggle"
      aria-controls="menu"
      aria-label="Click to open Navigation"></button>
  </nav>
</header>

<style>
  .desktop {
    display: none;
  }
  .logo {
    color: var(--white) !important;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 900;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .logo.mobile {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 0.5rem;
    padding: 0;
  }
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    /* width: 100%; */
    gap: 1rem;
    z-index: 3;
    position: fixed;
    right: 1.5rem;
    bottom: 5rem;
  }
  #contact a {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--black);
    font-size: 1rem;
    text-decoration-color: var(--black-transparent);
    transition: text-decoration-color var(--transition);
    background: var(--light-gray);
    padding: 1rem;
    height: 2rem;
    border-radius: 2rem;
    border: 2px solid var(--white);
  }
  #contact a:hover,
  #contact a:active,
  #contact a:focus {
    text-decoration-color: var(--black);
  }
  .info {
    width: 100%;
    max-width: 0;
    margin-left: -1rem;
    margin-right: auto;
    overflow: hidden;
    height: 1.5rem;
    transition: max-width 0.5s;
  }
  #contact a:hover .info,
  #contact a:active .info,
  #contact a:focus .info {
    max-width: 500px;
    margin-left: auto;
  }
  nav {
    background-color: var(--black);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav a {
    color: var(--black);
    text-decoration: none;
    display: block;
    padding-block: 1rem;
    text-decoration-color: var(--white-transparent);
    transition: all var(--transition);
  }
  nav ul a:hover {
    background: var(--mid-purple);
    color: var(--white);
  }
  ul {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }
  nav ul {
    position: absolute;
    background: var(--white);
    padding: 1rem 1rem 2rem 1rem;
    width: 100%;
    right: 0;
    top: 8.9rem;
    z-index: 2;
    gap: 1.5rem;
    text-align: center;
    border-bottom: var(--radius);
    box-shadow: -3px 21px 20px -6px rgba(0, 0, 0, 0.35);
    transform-origin: 100% 0%;
    translate: 100%;
    scale: 0;
    transition:
      scale,
      translate 0.5s ease-in;
  }
  li {
    list-style: none !important;
    margin: 0 !important;
  }
  button.nav-toggle {
    border: none;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    scale: 1;
    transition: scale var(--transition) ease-in;
    background: url('../images/burger-icon.svg') no-repeat center;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
  }
  button.nav-toggle:hover {
    scale: 1.1;
  }
  button.nav-toggle.open {
    background: url('../images/close-icon.svg') no-repeat center;
  }
  .nav {
    visibility: hidden;
  }
  .nav.open {
    visibility: visible;
    scale: 100%;
    translate: 0;
  }
  @media (width > 990px) {
    .desktop {
      display: block;
    }
    .mobile {
      display: none !important;
    }
    nav {
      padding: 0;
      flex-direction: column;
    }
    ul {
      font-size: 1rem;
    }
    nav ul {
      visibility: visible;
      flex-direction: row;
      width: 100% !important;
      gap: 0;
      list-style-type: none;
      position: static;
      z-index: 1;
      padding: 0;
      margin: 0;
      translate: 0;
      scale: 100%;
      box-shadow: none;
      transition: none;
      background: var(--black);
      justify-content: space-between;
    }
    .nav-list {
      color: var(--white) !important;
      font-size: 1.0625rem;
    }
    nav ul a:hover {
      background-color: transparent;
    }
    nav li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    nav a {
      width: 100%;
      border-left: 1px solid var(--light-gray);
      padding: 0.25rem;
    }
    nav li:has(a:hover) {
      background: var(--mid-purple);
    }
    #contact a {
      font-size: 1.25rem;
    }
    .logo {
      padding: 0.5rem !important;
      gap: 1rem;
      min-width: max-content;
      margin-right: 4rem;
    }
    .active {
      background-color: var(--mid-purple);
      a {
        border: none;
      }
      &:hover {
        background-color: var(--light-purple) !important;
        color: var(--black) !important;
      }
    }
  }
</style>
